<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - coreCodeFirstApproachProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/coreCodeFirstApproachProject.styles.css" asp-append-version="true" />
    <style>
        .navbar .navbar-nav > li > a:hover,
        .navbar .navbar-nav > li > a:focus,
        .navbar .navbar-nav > .active > a:hover,
        .navbar .navbar-nav > .active > a:focus {
            color: red;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand text-white"  asp-area="" asp-controller="Home" asp-action="Index">Laptop Store</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        
                        
                        @if (User.Identity.IsAuthenticated)
                        {
                            @if (User.IsInRole("admin"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Account" asp-action="AdminPage">Admin Page</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Admin" asp-action="Index">UserDetails</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Admin" asp-action="ViewProducts">Products</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Admin" asp-action="DisplayBrands">Brands</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Admin" asp-action="DisplayCategories">Categories</a>
                                </li>
                                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                        <a class="text-danger nav-link btn btn-outline-info me-2" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
                                </li>
                                </ul>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Product" asp-action="Index">Available Products</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Cart" asp-action="Index">View Cart</a>
                                </li>
                                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                        <a class="text-danger btn btn-outline-info me-2" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
                                </li>
                                </ul>
                            }
                        }
                        else
                        {
                            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item" style="float:right;">
                                    <a class="btn btn-outline-light me-2" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
                            </li>
                            <li class="nav-item">
                                    <a class="btn btn-outline-warning me-2" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                            </li>
                            </ul>
                        }

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
        <div class="container">
        <footer class="my-5 pt-5 text-body-secondary text-center text-small">
                <hr />
                <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                    <li class="nav-item"><a asp-controller="Home" asp-action="Index" class="nav-link px-2 text-body-secondary">Home</a></li>
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Features</a></li>
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Pricing</a></li>
                    <li class="nav-item"><a asp-controller="Home" asp-action="Privacy" class="nav-link px-2 text-body-secondary">Privacy</a></li>
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">About</a></li>
                </ul>
                <p class="text-center text-body-secondary">&copy; 2023 Laptop Store, Inc</p>
            </footer>
        </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
