
@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>User Welcome Page</title>
</head>
<body>
    <h2>This is User Page</h2>
    <ul>
        <li>user logged in successfully</li>
        <li>access products</li>
        <li>access cart</li>
    </ul>
</body>
</html>
